<!DocType html>
<html lang = "pt-br">
<meta charset = "UTF-8">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href ="css/stilo.css">
</head>

<div class="div-center">
    <div class="content">
        <form>
            <div align="Center">
                <h1>CADASTRA ESSA PORRA DE CARTAO DE ARROMBADO</h1>
            </div>
            <div class="form-group">
                <label for="Cartão">Numero Cartão</label>
                <input type="text" class="form-control" id="Cartão" placeholder="numero do Cartão">
            </div>
            <div class="form-group">
                <label for="inputNome">Nome Impresso no Cartão</label>
                <input type="text" class="form-control" id="inputNome">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputVencCartão">Vencimento Cartão</label>
                    <input type="Month" class="form-control" id="inputVencCartão">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputSegurança">Codigo de Segurança</label>
                    <input type="text" class="form-control" id="inputSegurança" placeholder="Codigo">
                </div>
                <div align = "Center">
                    <a href="home.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">SALVAR</a>
                </div>
            </div>
    </div>
</div>
</form>
</html>