<!DocType html>
<html lang = "pt-br">
<meta charset = "UTF-8">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href ="css/stilo.css">
</head>

<div class="div-center">
    <div class="content">
        <form>
            <div align="Center">
                <h1>ENDEREÇO DE COBRANÇA PRA BURGUES SAFADO QUE TEM MAIS DE UM ENDEREÇO</h1>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCep">Endereço</label>
                    <input type="text" class="form-control" id="inputCep" placeholder="CEP">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNumero">Numero</label>
                    <input type="text" class="form-control" id="inputNumero">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogradouro">Logradouro</label>
                <input type="text" class="form-control" id="inputLogradouro" placeholder="Logradouro">
            </div>
            <div class="form-group">
                <label for="inputBairro">Bairro</label>
                <input type="text" class="form-control" id="inputBairro" placeholder="Bairro">
            </div>
            <div class="form-group">
                <label for="inputPais">País</label>
                <select id="inputPais" class="form-control">
                    <option selected>Pais...</option>
                    <option>Brasil</option>
                    <option>USA</option>
                    <option>Canada</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control">
                    <option selected>Estado...</option>
                    <option>São Paulo</option>
                    <option>Rio Janeiro</option>
                    <option>Minas Gerais</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputCidade">Cidade</label>
                <select id="inputCidade" class="form-control">
                    <option selected>Cidade...</option>
                    <option>Suzano</option>
                    <option>Duque de Caxias</option>
                    <option>Belo Horizonte</option>
                </select>
            </div>
            <div class="form-group">
                <label for="observacoes">Observacoes</label>
                <input type="text" class="form-control" id="observacoes" placeholder="observacoes">
            </div>
            <div align = "Center">
                <a href="carta.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Proxima Etapa</a>
            </div>
    </div>
    </form>
</html>