<!DocType html>
<html lang = "pt-br">
<meta charset = "UTF-8">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href ="css/stilo.css">
</head>

<div class="div-center">
    <div class="content">
        <hr>
        <form>
            <div align="Center">
                <h1>SEJA BEM VINDO É O CARALHO VTNC FDP</h1>
            </div>
            <div class="form-group">
                <a href="endereços.html">
                    <button type="button" class="btn btn-link">Adicionar Endereços</button>
                </a>
                <a href="">
                    <button type="button" class="btn btn-link">Cadastre Produtos</button>
                </a>
                <a href="">
                    <button type="button" class="btn btn-link">Alterar Dados</button>
                </a>
                <a href="">
                    <button type="button" class="btn btn-link">Alterar Endereços</button>
            </div>
            </a>
            <hr/>
        </form>
    </div>
    </span>
</div>
</html>